.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  padding-top: 16px;
  max-width: 268px;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    padding-top: 32px;
    max-width: 280px;
    font-size: 18px;
    line-height: 22px;
  }
}
