.header__logo {
  background: url(../../../images/__header/__logo.svg) no-repeat;
  height: 42px;
  width: 142px;

}

@media screen and (min-width: 767px) {
  .header__logo {
    height: 52px;
    width: 178px;
  }
}


