.cover__overlay {
  padding: 33px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  text-decoration: none;
  color: #fff;
  transition: background-color .5s ease-in-out;
  background-color: rgba(42, 44, 47, .3);
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (min-width: 768px) {
  .cover__overlay {
    padding: 115px 104px;
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__overlay {
    padding: 195px 232px;
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    padding: 245px 312px;
    min-height: 740px;
  }
}
